.callback {
  position: relative;
  z-index: 0;
  padding: 70px 0;
  text-align: center;
  background-image: url(../img/conversation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.callback:after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--block-dark-color);
}

.callback__container {
  display: flex;
  flex-direction: column;
}

.callback__title {
  margin-bottom: 17px;
}

.callback__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding: 0;
  border: none;
}

.callback__subtitle {
  margin: 0 auto 50px;
  font-size: 22px;
  color: var(--callback-subtitle-color);
}

.callback__input-field {
  max-width: 423px;
  width: 100%;
  padding: 9px 25px;
  font-size: 22px;
  line-height: 1.2;
  color: inherit;
  background-color: #fff0;
  outline: 1px solid var(--border-color);
  border: none;
  border-radius: 50px;
}

.callback__input-field_indent-bottom_small {
  margin-bottom: 21px;
}

.callback__input-field_indent-bottom_large {
  margin-bottom: 50px;
}

.callback__input-field::placeholder {
  font-size: 22px;
  color: var(--placeholder-color);
}

.callback__input-field:focus {
  outline-color: var(--advantages-pseudo-color);
}

.callback__btn {
  max-width: 218px;
  width: 100%;
  padding: 11px 15px;
  line-height: 1.3;
  color: inherit;
}

.callback__personal {
  font-size: 20px;
}

.callback__agreement {
  color: var(--callback-agreement-color);
  text-decoration: underline solid 1px;
  text-underline-offset: 5px;
}

/* ----------------------------------------- 1024px */
@media (max-width: 1024px) {
  .callback {
    padding-bottom: 56px;
  }

  .callback__title {
    margin-bottom: 16px;
  }

  .callback__inner {
    margin-bottom: 30px;
  }

  .callback__subtitle {
    font-size: 20px;
  }

  .callback__input-field {
    max-width: 377px;
    padding: 8px 23px;
    font-size: 20px;
    line-height: 1.15;
    outline-width: 2px;
  }

  .callback__input-field_indent-bottom_small {
    margin-bottom: 20px;
  }

  .callback__input-field::placeholder {
    font-size: 20px;
  }

  .callback__personal {
    font-size: 17px;
  }
}

/* ----------------------------------------- 768px */
@media (max-width: 768px) {
  .callback {
    padding: 55px 0 45px;
  }

  .callback__title {
    margin-bottom: 14px;
  }

  .callback__subtitle {
    margin-bottom: 44px;
    font-size: 17px;
  }

  .callback__input-field {
    max-width: 345px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 17px;
  }

  .callback__input-field_indent-bottom_small {
    margin-bottom: 18px;
  }

  .callback__input-field_indent-bottom_large {
    margin-bottom: 48px;
  }

  .callback__input-field::placeholder {
    font-size: 17px;
  }

  .callback__btn {
    max-width: 202px;
  }

  .callback__personal {
    font-size: 14px;
  }
}

/* ----------------------------------------- 580px */
@media (max-width: 580px) {
  .callback {
    padding: 45px 0 40px;
  }

  .callback__title {
    margin-bottom: 12px;
  }

  .callback__subtitle {
    margin-bottom: 40px;
    font-size: 14px;
  }

  .callback__input-field {
    max-width: 321px;
  }

  .callback__input-field_indent-bottom_large {
    margin-bottom: 45px;
  }

  .callback__btn {
    max-width: 190px;
  }

  .callback__personal {
    font-size: 13px;
  }
}

/* ----------------------------------------- 380px */
@media (max-width: 380px) {
  .callback {
    padding: 30px 0;
  }

  .callback__title {
    margin-bottom: 10px;
  }

  .callback__subtitle {
    margin-bottom: 35px;
    font-size: 12px;
  }

  .callback__input-field {
    max-width: 290px;
    padding: 6px 18px;
    font-size: 14px;
    outline-width: 1px;
  }

  .callback__input-field_indent-bottom_small {
    margin-bottom: 15px;
  }

  .callback__input-field::placeholder {
    font-size: 14px;
  }

  .callback__btn {
    max-width: 174px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .callback__btn::first-letter {
    text-transform: uppercase;
  }

  .callback__personal {
    font-size: 11px;
  }
}