@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    local("Roboto Black"),
    local("Roboto-Black"),
    url("../fonts/roboto-black.woff2"),
    url("../fonts/roboto-black.woff");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    local("Roboto Bold"),
    local("Roboto-Bold"),
    url("../fonts/roboto-bold.woff2"),
    url("../fonts/roboto-bold.woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    local("Roboto Medium"),
    local("Roboto-Medium"),
    url("../fonts/roboto-medium.woff2"),
    url("../fonts/roboto-medium.woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    local("Roboto Regular"),
    local("Roboto-Regular"),
    url("../fonts/roboto-regular.woff2"),
    url("../fonts/roboto-regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  }